/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#page{
    width: 800px;
    height: 300px;
    position: relative;
    left: 390px;
}

#body{
    width: 200px;
    position: relative;
    left: 40px;
    top: 30px;
    letter-spacing: 2px;
    line-height: 50px;
}

#body li{
    list-style-type: none;
}



#sub{
    width: 600px;
    position: absolute;
    left: 210px;
    top: 43px;
    letter-spacing:2px;
}

#sub li{
    padding: 30px;
    display: inline;
    list-style-type: none;
}

#sub nav{
    position: absolute;
    left: 31px;
    top: 53px;
}

li:hover{
    background-color: #8CF5FF;
    color: white;
}

li{
    text-decoration: none;
}

.border-radius{
    width: 150px;
    position: relative;
    left: -5px;
    background-color: #a9ceec;
    border-radius: 10px;
    text-align: center
}